.hidden {
  display: none;
}
/* #region  */

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.section {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}
.input {
  font-family: inherit;
  line-height: inherit;
}
button {
  cursor: pointer;
}
/* #endregion */
/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hav-list,
.contacts {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-accent {
  color: #2e2f42;
}
.header-logo {
  display: block;
  padding: 16px 0;
}
@media only screen and (min-width: 768px) {
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
}

.burger-btn {
  margin-left: auto;
  border: none;
  padding: 0;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media only screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .hav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current {
    position: relative;
  }
  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .contacts {
    font-style: normal;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .contacts-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media only screen and (min-width: 1158px) {
    .contacts-link {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
    }
  }
  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}
@media only screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}
/* #region Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}
.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover,
.button-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}
.menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #2e2f42;
}
.menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav-link:focus,
.menu-nav-link:active {
  color: #404bbf;
}

.menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-contacts-link:focus,
.menu-contacts-link:active {
  color: #4d5ae5;
}

.icons-social-mobile-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  gap: 40px;
}
.social-mobile-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: #404bbf;
}
.social-mobile-item {
  width: 40px;
  height: 40px;
  gap: 24px;
}
.icon-social {
  fill: #f4f4fd;
}
@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion */
/* #endregion */
/* #region Hero section */
.hero-section {
  background: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Heromobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 767px;
  margin: auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Heromobile@2x.jpg);
  }
}
@media only screen and (min-width: 768px) {
  .hero-section {
    padding: 112px 0;
    max-width: 1157px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Herotablet.jpg);
  }
}

@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Herotabel@2x.jpg);
  }
}
@media only screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;

    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero.jpg);
  }
}
@media only screen and (min-width: 1158px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Hero@2x-min.jpg);
  }
}
.hero-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  max-width: 288px;
  margin: 0 auto;
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .hero-section-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-section-title {
    margin-bottom: 48px;
  }
}
.hero-section-button {
  display: block;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #fff;

  align-items: center;
  padding: 16px 32px;
  border-radius: 4px;
  margin: auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section-button:active,
.hero-section-button:focus {
  background: #404bbf;
}
@media only screen and (min-width: 1158px) {
  .hero-section-button:hover {
    background: #404bbf;
  }
}
/* #endregion */
/* #region Section 1 About us */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-about-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 72px;
  max-width: 100%;
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .section-about-list {
    gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .section-about-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .section-about-list {
    margin: 0 auto;
    gap: 24px;
  }
  .section-about-item {
    width: calc((100% - 72px) / 4);
  }
}
.section-about-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .section-about-subtitle {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .section-about-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
}
.section-about-paragraf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.icon-box {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }
}
/* #endregion */
/* #region Section our team */
.section-our-team {
  background: #f4f4fd;
}
.section-our-team-title,
.section-our-portfolio-title,
.section-about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.section-our-team-title,
.section-our-portfolio-title {
  margin-bottom: 72px;
}
.section-our-team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .section-our-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .section-our-team-list {
    gap: 24px;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
  }
}
.section-our-team-subtitle {
  margin-bottom: 8px;
}
.section-our-team-item {
  text-align: center;
  background: #ffffff;
  border-radius: 0 0 4px 4px;

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: minwidthpx) {
  .section-our-team-item {
    width: calc((100% - 72px) / 4);
  }
}
.card-text {
  padding: 32px 0px;
}
.section-our-team-subtitle,
.section-our-portfolio-subtitle,
.section-about-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #2e2f42;
}
.section-our-team-paragraf,
.section-our-portfolio-paragraf {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
}
.icons-social-cards-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  gap: 24px;
}
.social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: #404bbf;
}
.social-team-item {
  width: 40px;
  height: 40px;
  gap: 24px;
}
.icon-social {
  fill: #f4f4fd;
}
/* #endregion */
/* #region Section our portfolio */
.section-our-portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media only screen and (min-width: 768px) {
  .section-our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    row-gap: 48px;
    padding: 0;
  }
}
@media only screen and (min-width: 1158px) {
  .section-our-portfolio-list {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
}
.item-text {
  padding: 32px;
  border: 1px solid #e7e9fc;
  border-top: none;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  max-width: 288px;
  border-top: none;
}
.section-portfolio-item {
  width: 288px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .section-portfolio-item {
    width: 356px;
  }
  .item-text {
    max-width: 356px;
  }
}
@media only screen and (min-width: 1158px) {
  .section-portfolio-item {
    width: 360px;
  }
  .item-text {
    min-width: 360px;
    box-shadow: none;
  }
}
.portfolio-box {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-hidden {
  position: absolute;
  font-size: 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio-item:hover .text-hidden {
  transform: translateY(0);
}

.section-our-portfolio-subtitle {
  margin-bottom: 8px;
}
.section-portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
/* #endregion */
/* #region Footer styles */
.footer {
  background: #2e2f42;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
}
@media only screen and (min-width: 768px) {
  .footer-conteiner {
    margin: 0;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
  .footer-conteiner {
    padding: 0;
  }
  .footer {
    justify-content: flex-start;
    padding: 96px 164px 96px 108px;
  }
  .logo-box {
    margin-right: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-conteiner {
    display: flex;
    margin: 0 auto;
    flex-wrap: nowrap;
  }
  .footer {
    padding: 100px 159px 100px 156px;
  }
}
.footer-logo-accent {
  color: #f4f4fd;
}
.footer-paragraf {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 100%;
  display: block;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .footer-paragraf {
    max-width: 264px;
  }
}
.footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .footer-logo {
    display: inline-block;
    justify-content: flex-start;
  }
}
.logo-box {
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .logo-box {
  }
}
@media only screen and (min-width: 1158px) {
  .logo-box {
    margin-right: 120px;
    margin-bottom: 0;
  }
}
.social-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 1158px) {
  .social-footer-container {
    margin-right: 80px;
  }
}
.social-paragraf,
.footer-forms-paragraf {
  color: #fff;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .social-paragraf,
  .footer-forms-paragraf {
    justify-content: flex-start;
  }
}
.icon-social-footer-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.icon-social-footer-item {
  width: 40px;
  height: 40px;
}
.icon-social-footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social-footer-link:active,
.icon-social-footer-link:focus {
  background-color: #31d0aa;
}
@media only screen and (min-width: 1158px) {
  .icon-social-footer-link:hover {
    background-color: #31d0aa;
  }
}
.icon-social {
  fill: #f4f4fd;
}
.social-footer-container {
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .social-footer-container {
    margin-bottom: 0;
  }
}
.footer-forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .footer-forms {
  }
}
@media only screen and (min-width: 1158px) {
  .footer-forms {
    display: flex;
  }
}
.footer-input {
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  color: #ffffff;
  opacity: 0.3;
}

@media only screen and (min-width: 768px) {
  .footer-input {
    width: 264px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-input {
    opacity: 1;
  }
}
.footer-button {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
}
.footer-btn-icon {
  fill: #fff;
  margin-left: 16px;
}
.input-button-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .input-button-box {
    flex-direction: row;
  }
}
.box-label {
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .box-label {
    margin-bottom: 0;
    margin-right: 24px;
  }
}
/* #endregion */
/* #region Modal window */
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.modal {
  background-color: #fcfcfc;
  padding: 72px 16px 16px 16px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
.modal-overlay:not(is-open).modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.modal-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-field {
  margin-bottom: 8px;
}
.comment-box {
  margin-bottom: 16px;
}
.form-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 11px 38px;
  height: 40px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}
.form-input:focus-visible {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}
.form-input:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}
.form-input:focus + .modal-input-svg {
  fill: #4d5ae5;
}
.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.input-wrapper {
  position: relative;
}
.modal-input-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.input-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
}
.input-chekcbox-box {
  margin-bottom: 24px;
}
.textarea {
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea:focus {
  border-color: #4d5ae5;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-lable {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}
.checkbox-label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;

  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

input[type="checkbox"]:checked + label .checkbox-label-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.comment-link {
  color: #4d5ae5;
}
.modal-button-submit {
  border-radius: 4px;
  padding: 16px 32px;

  background: #4d5ae5;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: block;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}
/* #endregion */
