.hidden {
  display: none;
}
/* #region  */

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: currentColor;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.section {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}
.input {
  font-family: inherit;
  line-height: inherit;
}
button {
  cursor: pointer;
}
/* #endregion */
/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hav-list,
.contacts {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-accent {
  color: #2e2f42;
}
.header-logo {
  display: block;
  padding: 16px 0;
}
@media only screen and (min-width: 768px) {
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
}

.burger-btn {
  margin-left: auto;
  border: none;
  padding: 0;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media only screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .hav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current {
    position: relative;
  }
  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .contacts {
    font-style: normal;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .contacts-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}
@media only screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}
/* #region Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}
.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover,
.button-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}
.menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #2e2f42;
}
.menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav-link:focus,
.menu-nav-link:active {
  color: #404bbf;
}

.menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-contacts-link:focus,
.menu-contacts-link:active {
  color: #4d5ae5;
}

.icons-social-mobile-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  gap: 40px;
}
.social-mobile-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: #404bbf;
}
.social-mobile-item {
  width: 40px;
  height: 40px;
  gap: 24px;
}
.icon-social {
  fill: #f4f4fd;
}
@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion */
/* #endregion */
/* #region Hero section */
.hero-section {
  background: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 320px;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  .hero-section {
    padding: 112px 0;
    max-width: 1157px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;

    max-width: 1440px;
  }
}
.hero-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  max-width: 288px;
  margin: 0 auto;
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .hero-section-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-section-title {
    margin-bottom: 48px;
  }
}
.hero-section-button {
  display: block;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #fff;

  align-items: center;
  padding: 16px 32px;
  border-radius: 4px;
  margin: auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section-button:active,
.hero-section-button:focus {
  background: #404bbf;
}
@media only screen and (min-width: 1158px) {
  .hero-section-button:hover {
    background: #404bbf;
  }
}
/* #endregion */
/* #region Section 1 About us */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-about-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 72px;
  max-width: 100%;
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .section-about-list {
    gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .section-about-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .section-about-list {
    margin: 0 auto;
    gap: 24px;
  }
  .section-about-item {
    width: calc((100% - 72px) / 4);
  }
}
.section-about-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .section-about-subtitle {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .section-about-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
}
.icon-box {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }
}
/* #endregion */
/* #region Section our team */
.section-our-team {
  background: #f4f4fd;
}
.section-our-team-title,
.section-our-portfolio-title,
.section-about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.section-our-team-title,
.section-our-portfolio-title {
  margin-bottom: 72px;
}
.section-our-team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .section-our-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .section-our-team-list {
    gap: 24px;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
  }
}
.section-our-team-subtitle {
  margin-bottom: 8px;
}
.section-our-team-item {
  text-align: center;
  background: #ffffff;
  border-radius: 0 0 4px 4px;

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: minwidthpx) {
  .section-our-team-item {
    width: calc((100% - 72px) / 4);
  }
}
.card-text {
  padding: 32px 0px;
}
.section-our-team-subtitle,
.section-our-portfolio-subtitle,
.section-about-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #2e2f42;
}
.section-our-team-paragraf,
.section-our-portfolio-paragraf {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
}
.icons-social-cards-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  gap: 24px;
}
.social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: #404bbf;
}
.social-team-item {
  width: 40px;
  height: 40px;
  gap: 24px;
}
.icon-social {
  fill: #f4f4fd;
}
/* #endregion */
/* #region Section our portfolio */
.section-our-portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media only screen and (min-width: 768px) {
  .section-our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
    row-gap: 48px;
    padding: 0;
  }
}
@media only screen and (min-width: 1158px) {
  .section-our-portfolio-list {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
}
.item-text {
  padding: 32px;
  border: 1px solid #e7e9fc;
  border-top: none;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  max-width: 288px;
}
.section-portfolio-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-box {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-hidden {
  position: absolute;
  font-size: 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio-item:hover .text-hidden {
  transform: translateY(0);
}

.section-our-portfolio-subtitle {
  margin-bottom: 8px;
}
.section-portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
/* #endregion */
/* #region Footer styles */
.footer {
  background: #2e2f42;
  display: flex;
  justify-content: flex-start;
  align-items: left;

  padding: 96px 16px;
}
.footer-logo-accent {
  color: #f4f4fd;
}
.footer-paragraf {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 100%;
  display: block;
  margin: 0;
}
@media only screen and (min-width: minwidthpx) {
  .footer-paragraf {
    max-width: 264px;
  }
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.social-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
/* #endregion */
